*
{
    font-family: Yanone Kaffeesatz;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
    width:100%;
}

body
{
	background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
	background-attachment: fixed;
}
 
.big-container{
    display:flex;
    flex-direction:row;
    width:98%;
    height:auto;
    margin:1% 0% 0% 1%;
    gap:2vw;
}

.small-container{
    display:flex;
    flex-direction:column;
    width:70%;
    height:auto;
    justify-content:flex-start;
    gap:1vh;
}

.table-container{
    position:relative;
    column-count:1;
    width:100%;
    margin:2%;
}

table{
    font-family:sans-serif;
}

th,td{
    padding:.25em .5em;
    text-align:left;
    font-size:1.5vw;
}

td{
    background-color:#eee;  
}

th{
    background-color:rgba(16, 2, 44);
    color:#fff;
}

.wrap{
    width:100%;
    height:auto;
    margin-left:2%;
    margin-bottom: 25px;
    background-color:white;
    border-radius:10px;
    user-select: none;
    
}

.wrap > * {
    vertical-align:middle;
}

.imagen_bandera{
    margin:2% 0 2% 2%;
    width:8vw;
    border-radius:5px;
    user-select: none;
}

.pais{
    margin-left:10%;
    display:inline-block;
    font-size:3vw;
    color:black;
    text-decoration: none;
    font-weight:bold;
    user-select: none;
}

.icon{
    margin-left:10%;
    margin-top:-1%;
    display:inline-block;
    font-size:2vw;
    padding:1%;
    border-radius:20px;
    transition:.5s;
    background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
    cursor:pointer;
    visibility:hidden;
}

.icon:hover,.icon2:hover,.icon3:hover{
    color:white;
}

.icon2{
    margin-top:-1%;
    margin-left:-8%;
    display:inline-block;
    font-size:2vw;
    padding:1%;
    border-radius:20px;
    transition:.5s;
    background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
    cursor:pointer;
    visibility: hidden;
}

.icon3{
    margin-top:-1%;
    margin-left:-8%;
    display:inline-block;
    font-size:2vw;
    padding:1%;
    border-radius:20px;
    transition:.5s;
    background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
    cursor:pointer;
    visibility: hidden;
}

.icon.active{
    visibility: visible;
}

.icon2.active{
    visibility: visible;
}

.icon3.active{
    visibility: visible;
}

#popup,#popup2{
    top:0%;
    left:25%;
    transform: translate(0%,10%);
    position:fixed;
    width:50%;
    height:auto;
    text-align:center;
    font-size:1.2vw;
    padding:20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    border-radius:10px;
    padding:10px;
}

#popup.active,#popup2.active{
    top:40%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
    overflow:hidden;
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.button{
    width: 30%;
    height:auto;
    font-size:1.5vw;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 7px;
    margin-top:5%;
    border-radius: 10px;
    border: 1px solid #ffffff;
	cursor: pointer;
}

.button:hover{
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formacion-div{
    background-color:#fff;
    padding: 1%;
    border-radius:10px;
    width: 650px;
    height: 390px;
    margin-left: 65px;
    margin-top: 60px;
    transition: 200ms;
    text-align: center;
}

.formacion{
    border-radius:5px;
    width: 100%;
    height:auto;
}
.formacion-div:hover{
	border-radius:10px;
    transition: 200ms;
    transform: scale(0.98);
	cursor:pointer;
    
    
}
.twitter-div{
    width:90%;
    height:600px;
    background:white;
    border-radius:20px;
    overflow:auto;
    margin-left: 25px;
    margin-top: 25px;
}