*
{
    font-family: Yanone Kaffeesatz;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
    width:100%;
}

body
{
	background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
	background-attachment: fixed;
}
 
.big-container{
    display:flex;
    flex-direction:row;
    width:98%;
    height:auto;
    margin:1% 0% 0% 1%;
    gap:10vw;
}

.small-container{
    display:flex;
    flex-direction:column;
    width:70%;
    height:auto;
    justify-content:flex-start;
    gap:2vh;
}

.table-container{
    position:relative;
    column-count:1;
    width:100%;
    margin:2%;
}

table{
    font-family:sans-serif;
}

th,td{
    padding:.25em .5em;
    text-align:left;
    font-size:1.5vw;
}

td{
    background-color:#eee;  
}

th{
    background-color:rgba(16, 2, 44);
    color:#fff;
}

.wrap{
    width:100%;
    background-color:#fff;
    height:auto;
    margin-left:2%;
    margin-bottom: 25px;
    border-radius:10px;
    user-select: none;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding:2%;
}

.col{
    position:relative;
    display:table;
    text-align:center;
}

.imagen_bandera{
    width:8vw;
    border-radius:5px;
    user-select: none;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.pais{
    padding:1%;
    font-size:3vw;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    color:black;
    text-decoration: none;
    font-weight:bold;
    user-select: none;
}

.icon,.icon2,.icon3{
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    font-size:2vw;
    padding:3%;
    border-radius:20px;
    transition:.5s;
    background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
    cursor:pointer;
    visibility:hidden;
}

.icon:hover,.icon2:hover,.icon3:hover{
    color:white;
}

.icon.active,.icon2.active,.icon3.active{
    visibility: visible;
}

#popup,#popup2{
    top:0%;
    left:25%;
    transform: translate(0%,10%);
    position:fixed;
    width:50%;
    height:auto;
    text-align:center;
    font-size:1.2vw;
    padding:20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    border-radius:10px;
    padding:10px;
}

#popup.active,#popup2.active{
    top:40%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
    overflow:hidden;
}

.big-container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.button{
    width: 30%;
    height:auto;
    font-size:1.5vw;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 7px;
    margin-top:5%;
    border-radius: 10px;
    border: 1px solid #ffffff;
	cursor: pointer;
}

.button:hover{
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formacion-div{
    background-color:#fff;
    padding: 1%;
    border-radius:10px;
    width:80%;
    height:auto;
    transition: 200ms;
    text-align: center;
}

.formacion{
    border-radius:5px;
    width: 100%;
    height:auto;
}

.formacion-div:hover{
	border-radius:10px;
    transition: 200ms;
    transform: scale(0.98);
}

.twitter-div{
    float: none; 
    width: 80%; 
    height: 500px;
    background:white;
    border-radius:20px;
    overflow:auto;
}

.leyenda{
    font-size:2vw;
    margin-top:1%;
}