*
{
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

body
{
	background: linear-gradient(to bottom right,rgb(145, 28, 44), rgb(17, 17, 17));
	background-attachment: fixed;
}

.container{
    position: relative;
    display: flex;
    margin-top:18%;
    justify-content: center;
    padding: 20px;
}

.container, .meses{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.meses{
    display:inline-block;
    background-color:white;
}

#mes-noviembre
{
    border: solid 2px black;
}


#mes-diciembre
{
    border: solid 2px black;
    margin-left: 5%;
}

ol{
    list-style: none;
    display: grid;
    grid-gap:3px;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 10px;
}
  
li{
    color: rgb(31, 29, 29);
    font-size: 1.7vw;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgb(255, 234, 205);
}

li:hover{
    cursor: pointer;
    filter:brightness(50%);
}

.mes{
    margin-bottom: 2px;
    padding: 0;
    font-size:2.5vw;
}
  
.first-day-november{
    grid-column-start: 6;
}
.first-day-december{
    grid-column-start: 5;
}
  
.day-name{
    background: #eee;
    font-weight: bold;
    font-size: 1vw;
    padding: 4px;
    text-align: center;
    margin-bottom: 15px;
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup1, #popup2, #popup3, #popup4, #popup5, #popup6, #popup7, #popup8, #popup9, #popup10, #popup11, #popup12,  #popup13, #popup14, #popup15, #popup16,
#popup16, #popup17, #popup18, #popup19,  #popup20, #popup21, #popup22{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:800px;
    height:500px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup1.active, #popup2.active, #popup3.active, #popup4.active, #popup5.active, #popup6.active, #popup7.active, #popup8.active, #popup9.active, #popup10.active,
#popup11.active, #popup12.active, #popup13.active, #popup14.active, #popup15.active, #popup16.active, #popup17.active, #popup18.active, #popup19.active, #popup20.active,
#popup21.active, #popup22.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

.cerrar{
    width: 30%;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 7px ;
    margin-top:19%;
    border-radius: 10px;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
    font-family:'calibri';
	cursor: pointer;
}

.cerrar:hover{
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.group_ab{
    background-color: red;
    color: white;
}