html{
    font-family: 'Permanent Marker', cursive;
}

body
{
	background: linear-gradient(to bottom right,rgb(192,3,3),rgb(255, 2, 171), rgb(192, 3, 3));
	background-attachment: fixed;
}

.container{
    width: 98px;
    height:auto;
    display:grid;
    gap: 1%;
    grid-template-columns:repeat(2, 2fr);
}

.caja{
    margin-left: -45px; 
    margin-right: 50px;
    background-color: antiquewhite;
    border-radius: 4rem;
    text-align: center;
    height: 450px;
    width: 600px;
}
.caja:hover{
    box-shadow: 0rem 0.4rem 0.8rem rgba(0,0,0,0.4); 
}
#left{
    margin-top: 15px;
    text-align: center;
    
}
#right{
    margin-top: -45px;      
    text-align: center;}

#left-first{
    margin-top: 100px;  
    text-align: center; 
}
#right-first{
    margin-top: 30px;  
    text-align: center;
}