*
{
    font-family: calibri;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
	height:100%;
    width:100%;
}

body
{
	background: linear-gradient(to top right ,rgb(119, 3, 3), rgb(0, 0, 0));
	background-attachment: fixed;
}
  
hr {
    border: solid;
    border-width: 1px;
    border-color: #0B86C3;
}
  
#user_header {
    width: 100%;
    height: auto;
    background: rgb(94, 2, 2) url('https://subtlepatterns.com/patterns/use_your_illusion.png') repeat;
}
  
#user {
    width: 70%;
    height: auto;
    padding:1%;
}
  
#picture_box {
    float:left;
    padding-right:20px;
}
  
#user_info {
    width: 100%;
    height: 9vw;
    background-color:rgb(94, 2, 2);
}
  
.user_name {
    padding-top:1%;
    font-size:2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #fff;
    letter-spacing: 1.75px;
}

.bio_box{
    margin-top:2%;
    width:100%;
}

.user_bio{
    font-size:1.3vw;
    display:inline-block;
    width:fit-content;
    letter-spacing:1px;
    color:#0B86C3;
    cursor:pointer;
}

.user_bio2{
    font-size:1.3vw;
    display:inline-block;
    width:fit-content;
    letter-spacing:1px;
    color:#0B86C3;
}

.user_bio:hover{
    color:white;
}

.img{
    width:7vw;
    height:7vw;
    border-radius: 50%;
    transition:.9s;
}

.img2{
    width:7vw;
    height:7vw;
    border-radius: 50%;
}

.img:hover{
    transform: scale(0.9);
    transition:.9s;
    cursor:pointer;
}

.username_box{
    padding:.5%;
}

.icon{
    margin-left:1%;
    color:white;
    cursor:pointer;
    transition:0.5s;
    padding:.5%;
}

.icon:hover{
    background-color:white;
    color:black;
    border-radius:50%;
    transition:0.5s;
}

#popup,#popup2{
    top:0%;
    left:25%;
    transform: translate(0%,10%);
    position:fixed;
    width:50%;
    height:auto;
    text-align:center;
    font-size:1.2vw;
    padding:20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    border-radius:10px;
    padding:10px;
}

#popup.active,#popup2.active{
    top:40%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
    overflow:hidden;
}

.container{
    margin-top: 0.5%;
    width:70%;
    padding:1%;
    margin-left: 15%;
    background: rgb(255, 255, 255) url('https://subtlepatterns.com/patterns/use_your_illusion.png') repeat;
    box-shadow: 3px 0px 15px rgb(255, 255, 255);
}
.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.bio-input{
    font-size:1.5vw;
    margin-top:5%;
    padding:1%;
    height:5vh;
    width:90%;
}

.button{
    width: 30%;
    height:auto;
    font-size:1.5vw;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 7px;
    margin-top:5%;
    border-radius: 10px;
    border: 1px solid #ffffff;
	cursor: pointer;
}

.button:hover,.btn-post:hover{
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

#pfp{
    display: none;
}

.img-input{
    margin-top:5%;
}

.post-container{
    width:80%;
    margin-top: 10%;
    border-radius:20px;
    background-color:#fff;
    margin:1% 10%;
}

.post-title{
    font-size:2vw;
    text-align:center;
    padding:1%;
}

.post-text{
    font-size:1.4vw;
    width:90%;
    height:15vh;
    resize: none;
    margin-left:5%;
    font-weight: 500;
    padding:1%;
}

.btn-post{
    width: 15%;
    height:auto;
    font-size:1.5vw;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 1%;
    margin:1%;
    margin-top:10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
	cursor: pointer;
}