*
{
    font-family: Yanone Kaffeesatz;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
    width:100%;
}

body
{
	background: rgba(42, 0, 10, 0.918);
	background-attachment: fixed;
}

.container{
    width:50%; 
    background-color:#ffffff;
    margin:3% 0 1% 25%;
    padding:20px;
    border-radius:20px;
}

.title{
    font-size:3vw;
    text-align: center;
}

.upload{
    margin-top:3%;
}

.form-control
{
    width: 100%;
    background: rgba(128, 124, 124, 0.432);
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
    font-size:1.5vw;
	border: solid 3px transparent;
}

.form-control-content:focus, .form-control:focus{
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form-control-content{
    width: 100%;
    height:40%;
    background: rgba(128, 124, 124, 0.432);
    padding:1%;
    border-radius: 5px;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
    font-size:1.5vw;
	border: solid 3px transparent;
    resize:none;
}

.label{
    font-size:1.5vw;
}

.btn {
    width:30%;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 7px ;
    margin-left:35%;
    border-radius: 10px;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
	cursor: pointer;
}

.btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.new_title{
    font-size:2vw;
}

.trash{
    margin-left:1%;
    font-size:1.3vw;
    padding:1.2%;
    border-radius:35%;
    transition:.5s;
}

.trash:hover{
    background-color:black;
    color:white;
    transition:.5s;
    cursor:pointer;
}

.new{
    margin-top:5%;
}