*
{
    font-family: Yanone Kaffeesatz;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
	height:100%;
    width:100%;
}

body
{
	background: rgba(42, 0, 10, 0.918);
	background-attachment: fixed;
}

.add-form{
    width: 800px;  
    height: 460px; 
    margin-left: 220px;
    margin-top: 80px;
    background-color:#ffffff;  
}
.text-center{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
