*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to bottom right,rgb(145, 28, 44), rgb(17, 17, 17));
    background-attachment: fixed;
}

.table {
    width:100%;
    margin-top:21%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #545f5b;
    color: white;
}

.table th:hover{
    background-color: #393f3c;
    cursor:pointer;
}