*{
    font-family: Yanone Kaffeesatz;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

body{
	background: linear-gradient(to top  ,rgb(177, 0, 24), rgb(0, 0, 0));
	background-attachment: fixed;
}
 
.wrapper{
    margin-top:2%;
    width:100%;
    display:grid;
    grid-template-columns:repeat(4, 2fr);
    gap:1em;
    align-items: center;
    justify-items: center;
} 

.grupo{
    position:relative;
    width:80%;
    height:auto;
    margin:20px 0;
    background-color:#eeeee4;
    border-radius:50% / 5%;
    padding:5%;
    text-align:center;
    text-indent:.1em;
    transition: 100ms;
}

#top{
     margin-top: 250px;
}
#bottom{
    margin-top: 15px;
}
.title{
    font-size:2vw;
    color:#801537;
    margin-bottom:5%;
    font-weight:bolder;
}

.content{
    margin-top:5%;
}

.wrap{
    margin-top:3%;
    display:table;
}

.wrap:hover{
    filter: brightness(85%);
}

.imagen_bandera{
    width:3.5vw;
    border-radius:5px;
    border: 1px solid gray;
    display:table-cell; 
    vertical-align:middle;
}
.imagen_bandera:hover{
    cursor:pointer;
    transition: 100ms;
    transform: scale(0.9);
    
}

.pais{
    margin-left:10%;
    display:table-cell; 
    vertical-align:middle;
    font-size:1.5vw;
    color:#801537;
    text-decoration: none;
    font-weight:bold;
    text-align:center;
}