*
{
    font-family: Yanone Kaffeesatz;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    width:100%;
}

body
{
    background: rgba(42, 0, 10, 0.918);
    background-attachment: fixed;
}

.wrap{
    width:100%;
    margin-top:5%;
}

.changename, .changepass{
    padding:20px;
    background-color:white;
    width:30%;
    display:inline-block;
    text-align:center;
    border-radius:20px;
    vertical-align: middle;
}

.changepass{
    margin-left:10%;
}

.changename{
    margin-left:15%;
}

#changename, #changepass{
    border-radius:10px;
    width:10vw;
    height:5vh;
    background-color:rgb(217, 217, 217)
}

#changename:hover, #changepass:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
    cursor:pointer;
}

.changetitle{
    padding:10px;
    font-size:2.5vw;
}