header{
	width:100%;
	overflow:hidden;
	background:#ffffff;
}

.wrapper {
	width:98%;
	margin:auto;
	overflow:hidden;
}

header .logo {
	color:#f2f2f2;
	font-size:40px;
	line-height:50px;
	float:left;
}

header nav {
	float:right;
}

header nav a {
	margin-top:3px;
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-family:calibri; 
	color:rgb(145, 28, 44);
}

header nav a:hover {
	background:#181716;
	border-radius:50px;
	color:rgb(255, 255, 255);
}