*
{
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
	height:100%;
}

body
{
	background: linear-gradient(to bottom right,rgb(145, 28, 44), rgb(17, 17, 17));
	background-attachment: fixed;
}

.fijo{
	background: linear-gradient(to bottom right,rgb(145, 28, 44), rgb(17, 17, 17));
	width: 100%;
	height: 200px;
	position: fixed;
	z-index: 3;
}

.header{
	position:fixed;
	z-index:1;

	width:100%;
	height: 7%;
	background:#ffffff;
	position: fixed;
	z-index: 2;
}

.wrapper {
	width:98%;
	margin:auto;
	overflow:hidden;
}

.imagen_logo{
 	position: relative;
 	display: inline-block;
 	width: 50px;
 	height: 47px;
	
}

.header .logo {
	font-size:40px;
	line-height:50px;
	float:left;
	margin-left: 56px;
}

.header nav {
	float:right;
}

.header nav a {
	margin-top:3px;
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-family:calibri; 
	color:rgb(145, 28, 44);
}

.header nav a:hover {
	background:#181716;
	border-radius:50px;
	color:rgb(255, 255, 255);
}

.navegador_general{
	position: fixed;
	background-color: white;
	width: 100%;
	height:140px;
	margin-top:1%;
	display: inline-block;
	z-index: 2;
	text-align:center;
}

.noticias{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/noticias.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.noticias:hover{
	transition: .4s;
	background-image: url('../images/noticias_darken.jpg');
}

.noticias h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.fixture{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/fixture.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.fixture:hover{
	transition: .4s;
	background-image: url('../images/fixture_darken.jpg');
}

.fixture h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
    cursor: pointer;
}

.calendario{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/calendario.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.calendario:hover{
	transition: .4s;
	background-image: url('../images/calendario_darken.jpg');
}

.calendario h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.qatar{
	width: 14.65%;
	height: 19.2%;		
	border-radius: 10px;
	background-image: url('../images/bandera.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.qatar:hover{
	transition: .4s;
	background-image: url('../images/bandera_darken.jpg');
}

.qatar h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.selecciones{
	width: 14.65%;
	height: 19.2%;		
	border-radius: 10px;
	background-image: url('../images/selecciones.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.selecciones:hover{
	transition: .4s;
	background-image: url('../images/selecciones_darken.jpg');
}

.selecciones h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.comunidad{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/comunidad.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.comunidad h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.comunidad:hover{
	transition: .4s;
	background-image: url('../images/comunidad_darken.jpg');
}

.text{
	width: 195.9px;
	font-family: Yanone Kaffeesatz;
	background-color: black;     
	margin-top:40%;     
	text-align: center;
	color:white;
	font-size: 5vh;
	font-size: 2.3vw;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	bottom: 0;
	text-decoration: none;
	display: inline-block;
	position: absolute;
}

.cajas{
	margin-top: 200px;
	position: relative;
	display: inline-block;
	width: 100%;
}

.caja_derecha{
	position: relative;
	display: inline-block;
    width: 20%;
	height: 30%;
	margin-top: 1.5%;
	float:right;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.tu_seleccion{
	text-align: center;
	font-size: 30px;
	font-family: Yanone Kaffeesatz;
	padding-top: 10px;
}

.lista_seleccion{
	padding-left: 22px;
	font-size:20px;
}

.caja_izquierda{
	position:relative;
	display: inline-block;
	width: 75%;
	height: 200%;
	border-radius: 10px;
	background-color: rgb(216, 215, 215);
	margin-top: 1.5%;
	margin-left: 2%;
}

/*.caja_izquierda_imagen{
	width: 100%;
	height: 35%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	opacity: 0.6;
}*/

.noticias_principal{
	position: relative;
	color: rgb(145, 28, 44);
	-webkit-text-stroke: 2px rgb(0, 0, 0);
	font-size: 90px;
	margin-left: 40%;
	margin-top: 1.5%;
	z-index: 1;
}

