.header{
	position:fixed;
	z-index:1;
	top:0;
	width:100%;
	background:#ffffff;
	transition: top 1s;
	user-select: none;
}

.wrapper {
	width:98%;
	margin:auto;
	overflow:hidden;
}

.header .logo {
	font-size:40px;
	line-height:50px;
	float:left;
}

.header nav {
	float:right;
}

.header nav > a {
	margin-top:3px;
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-family:calibri; 
	color:rgb(145, 28, 44);
}

.header nav > a:hover {
	background:#181716;
	border-radius:50px;
	color:rgb(255, 255, 255);
}

.navicon_box{
    margin-top:15%;
    width:40px;
    height:40px;
    border-radius: 10px;
    transition: 0.5s;
}

.navicon{
    padding:3px 6px;
    cursor:pointer;
    color:rgb(145, 28, 44) ;
}

.navicon_box:hover{
    background-color:rgb(177, 177, 177);
    transition: 0.5s;
}

.navicon:hover{
    color: black;
}

.user_options{
    font-family: Yanone Kaffeesatz;
    padding:10px;
    left:84%;
    position:absolute;
    z-index:1;
    margin-top: 5px;
    border-radius:10px;
    width:15%;
    display:none;
    background-color:rgb(214, 214, 214)
}

.user_options > h1{
    text-align:center;
    font-size:1.5vw;
}

.user_options > a{
    text-decoration:none;
    font-size:1.3vw;
}

.navegador_general{
	background-color: white;
	top:0;
	width:100%;
	text-align:center;
}

.perfil{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/noticias.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.perfil:hover{
	transition: .4s;
	background-image: url('../images/noticias_darken.jpg');
}

.perfil h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.fixture{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/fixture.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.fixture:hover{
	transition: .4s;
	background-image: url('../images/fixture_darken.jpg');
}

.fixture h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
    cursor: pointer;
}

.calendario{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/calendario.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.calendario:hover{
	transition: .4s;
	background-image: url('../images/calendario_darken.jpg');
}

.calendario h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.qatar{
	width: 14.65%;
	height: 19.2%;		
	border-radius: 10px;
	background-image: url('../images/bandera.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.qatar:hover{
	transition: .4s;
	background-image: url('../images/bandera_darken.jpg');
}

.qatar h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.selecciones{
	width: 14.65%;
	height: 19.2%;		
	border-radius: 10px;
	background-image: url('../images/selecciones.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.selecciones:hover{
	transition: .4s;
	background-image: url('../images/selecciones_darken.jpg');
}

.selecciones h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.comunidad{
	width: 14.65%;
	height: 19.2%;	
	border-radius: 10px;
	background-image: url('../images/comunidad.jpg');
    background-size:100% 100%;
	background-repeat: no-repeat;
	margin-left:1.2%;
	margin-top:1%;
	margin-bottom:1%;
	border: #000000 solid;
	transition: .4s;
	display:inline-block;
	position:relative;
}

.comunidad h1:hover{
	background-color: rgb(218, 218, 218);
	color: black;
	cursor: pointer;
}

.comunidad:hover{
	transition: .4s;
	background-image: url('../images/comunidad_darken.jpg');
}

.text{
	width: 100%;
	font-family: Yanone Kaffeesatz;
	background-color: black;     
	margin-top:40%;     
	text-align: center;
	color:white;
	font-size: 5vh;
	font-size: 2.3vw;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	bottom: 0;
	text-decoration: none;
}

.link_calendario{
	text-decoration: none;
}


.link_calendario:visited { 
	text-decoration: none; color:rgb(255, 255, 255); 
}