*
{
    font-family: Yanone Kaffeesatz;
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
	height:100%;
    width:100%;
}

body
{
	background: rgba(42, 0, 10, 0.918);
	background-attachment: fixed;
}

content{
    position:relative;
    width:100%;
    z-index:-1;
}

aside{
    position: relative;
    width: 30%;
    float: right;
    background-color: white;
    border-radius:10px;
    margin-right:1%;
    padding: 0.5%;
    font-size:1.5vw;
}

.twitter-timeline{
    position:relative;
    border-radius:10px;
    float:right;
    overflow:auto;
    background-color: white;
    width:30%;
    height:40%;
    padding: 0.5%;
    margin-right:1%;
}
    
.news{
    position:relative;
    width:60%;
    height:90%;
    border-radius: 10px;
    background-color: white;
    margin: 5% 2% 0% 2%;
    padding: 0.5%;
    color: #8a1538;
}

.title{
    text-align: center;
    font-size:3vw;
}  

.news_image_box{
    text-align: center;
}

.news_image{
    width:30vw;
    padding: 20px;
}

.text_news{
    margin-top:3%;
    position: relative;
    height:40px;
    width:100%;
    background-color: #eeeee4;
    border-radius: 8px;
    align-content: center;
}

.text_news p{
    text-align: center;
    padding: 10px;
    font-size: 1.5vw;
    color: black;
}