*
{
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
}

html,body{
	height:100%;
    width:100%;
}

body
{
	background: linear-gradient(to bottom right,rgb(145, 28, 44), rgb(17, 17, 17));
	background-attachment: fixed;
}

content{
    margin-top:15%;
    position:relative;
    display:inline-block;
    width:100%;
}
    
aside{
    position: relative;
    width: 20%;
    float: right;
    background-color: white;
    border-radius:10px;
    margin-right:1%;
}
    
.title{
    text-align: center;
    font-size: 40px;
}
    
    
.news{
    position:relative;
    width:75%;
    float:left;
    border-radius: 10px;
    background-color: white;
    margin-left:2.3%;
}

footer{
    background-color: white;
    width:100%;
    height:8%;
    margin-top:2%;
    display:table;
}

.disclaimer{
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}