*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
   
body
{
    background-color:rgb(145, 28, 44); 
}



.sesion 
{
    width: 100%;
    background:rgb(255, 255, 255) ;
    margin: auto;
    border-radius: 2px;
    font-family:'calibri';
    color:rgb(145, 28, 44);
    text-align: left;
    display: inline-block;
}

.sesion a{
       
    float: right;
    
    
    
    
    
    
}

.confirmacion
{
    width: 600px;
    background:white ;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    font-family:'calibri';
    color:rgb(145, 28, 44);
}
   









