*
{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

body
{
    background-color:rgb(145, 28, 44); ;
}

.registro
{
    width: 400px;
    background:white ;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family:'calibri';
    color:rgb(145, 28, 44);

}

.signup
{
 color:rgb(145, 28, 44);
 text-align: center;
 font-size: 200%;
 margin-bottom: 7%;
}

.controls
{
    width: 100%;
    background: rgba(32, 31, 31, 0.432);
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
    font-size: 14px ;
}

.control_registrarse
{
    left: 25%;
    width: 50%;
    background: rgb(145, 28, 44);
    color: #ffffff;
    padding: 7px ;
    border-radius: 10px;
    margin-bottom: 4%;
    border: 1px solid #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.iniciar_sesion
{
    color:black;
    text-align: center;
}

input
{
    position: relative;
}