*
{
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
	
}

html,body{
	height:100%;
    width:100%;
	margin-top: 12%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
	background: linear-gradient(to bottom ,rgb(50, 8, 104), rgb(37, 174, 233));
	background-attachment: fixed;
}

.container{
	width: 30%;
	height: auto;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	margin-left: 3%;
	background-color: white;
	padding: 10px;
	margin: 1%;
}

.datetime{
	margin-top: auto;
	float: right;
}

.username{
	text-decoration: none;
	color: black;
}

.content{
	width: auto;
	height: 100%;	
}