*
{
 	padding: 0px;
 	margin: 0px;
 	box-sizing: border-box;
	
}

html,body{
	height:100%;
    width:100%;
	margin-top: 12%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
	background: linear-gradient(to bottom ,rgb(255, 2, 171), rgb(192, 3, 3));
	background-attachment: fixed;
}
